* {
    width: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li:hover a {
    color: white;
}

a:visited {
    color: black;
}

/* DEBUT INCLUDE HEADER */

header {
    display: flex;
    flex-direction: column;
}

#bandeau {
    border: solid 1px black;
    height: 120px;
    width: 100%;
    text-align: center;
    font-size: 150%;
    position: relative;
}

.logo {
    height: 120px;
    width: 120px;
    border: solid 1px black;
    position: absolute;
    top: 0;
    left: 0;
}

nav {
    border: solid 1px black;
    width: 100%;
    margin-top: 0.5%;
}

nav, main, footer {
    border-radius: 3px;
}

nav ul {
    height: 100%;
    display: flex;
    margin-left: 2%;
}

nav li {
    list-style: none;
    width: 6%;
    background-color: lightgrey;
    margin: 0 0.1%;
    text-align: center;
    color: black;
    font-size: 17px;
    padding: 20px 0;
}

nav li:hover {
    background-color: black;
    color: white;
}

#title_home {
    border: solid 1px lightgrey;
}

#title_home p {
    margin: 0.5%;
}

.container {
    border: solid 1px black;
    height: 400px;
    width: 100%;
    margin: 1% 0;
}

/* FIN INCLUDE HEADER */

/* DEBUT INCLUDE FOOTER */

footer {
    border: solid 1px black;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer p {
    margin: 1%;
}

/* FIN INCLUDE FOOTER */

/* DEBUT INCLUDE ADHERENTS */

.ul_adh {               /*ul page adherent */
    margin-left: 2%;
}

.flex {
    display: flex;
    justify-content: center;
}

.card {
    height: 200px;
    width: 150px;
    border: solid 1px black;
    text-align: center;
    margin: 5%;
    border-radius: 10px;
}

.image {
    border-radius: 50%;
    width: 50%;
    margin: 20px auto;
}

.rens_name {
    border-bottom: solid 1px grey;
    width: 50%;
    margin: 0 auto;
    font-weight: bolder;
}

img {
    max-width: 100%;
    border-radius: 50%;
}

/* FIN INCLUDE ADHERENTS */